body {
  background: #ffbaba;
  font-size: 1rem;
  height: 0 auto;
}
body section {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
body .rosa {
  color: #fff2df;
}
body .boton {
  background-color: #fff2df;
}
body .boton a {
  text-decoration: none;
  color: #ff5a46;
}

.animacion-imagen {
  animation: imagen 2.2s ease;
}

.animacion-imagen1 {
  animation: imagen1 2s ease;
}

@keyframes imagen {
  0% {
    transform: translateX(-1000px);
  }
  10% {
    transform: translateX(-900px);
  }
  20% {
    transform: translateX(-800px);
  }
  30% {
    transform: translateX(-700px);
  }
  40% {
    transform: translateX(-600px);
  }
  50% {
    transform: translateX(-500px);
  }
  60% {
    transform: translateX(-400px);
  }
  70% {
    transform: translateX(-300px);
  }
  80% {
    transform: translateX(-200px);
  }
  90% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes imagen1 {
  0% {
    transform: scale(-2, -2);
  }
  50% {
    transform: scale(-1.5, -1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
header {
  background: #ffcd82;
  color: #146464;
  border: solid;
  color: black;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logoHeader {
  text-align: center;
  border: none;
  width: 7.1rem;
}
header .nav-item {
  text-decoration: none;
  border: solid black;
  background-color: #fff2df;
}
header .nav-item a {
  font-size: 0.6rem;
  color: #ff5a46;
  text-decoration: none;
  padding: 0.5rem;
  border: 1px solid black;
  background-color: #fff2df;
}
header .nav-item a:hover {
  color: #146464;
}
header .logo__redes {
  margin: 0.3rem;
}

.section1 {
  background-color: #146464;
  padding: 1.5rem;
  color: black;
}
.section1 .img__section1 {
  width: 50rem;
}

.section2 {
  background-color: #ffcd82;
  color: black;
}
.section2 .img__section2 {
  width: 50rem;
}

.section3 {
  background-color: #146464;
  color: black;
}
.section3 .div1Section3 {
  text-align: center;
  padding: 0.5rem;
  border: none;
  margin: 1rem;
}
.section3 .div3Section3 {
  text-align: center;
  text-decoration: none;
}

.s1servicios {
  margin: 0.5rem;
  background-color: #146464;
  border: 2px solid black;
}

.iconos__servicio {
  display: flex;
  justify-content: space-around;
  border: dashed #ff5a46;
  margin: 1.5rem;
}
.iconos__servicio .iconos {
  width: 4rem;
}
.iconos__servicio h4 {
  font-size: 0.7rem;
}

.sec1Servicios {
  background-color: #ffcd82;
  justify-content: space-between;
  align-items: center;
  border: solid black;
  color: black;
  padding: 1.5rem;
  margin: 0.8rem;
  display: flex;
  flex-direction: column;
}

.sec1Servicios img {
  width: 80%;
}

.lista {
  list-style: none;
}

.sec2Servicios {
  background-color: #146464;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border: solid;
  color: black;
  margin: 0.8rem;
  display: flex;
  flex-direction: column;
}

#procesoDeTrabajo {
  padding: 1rem;
  border: dashed #ff5a46;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconos {
  width: 5rem;
}

.proceso {
  padding: 1rem;
  border: none;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-sobreMi {
  background-color: #146464;
  padding: 1rem;
  border: 1px solid black;
}
.section-sobreMi .img-fluid {
  width: 30rem;
}

footer {
  background-color: #fff2df;
  margin: 1rem;
  padding: 2rem;
  border: 1px solid black;
}
footer .footer-copyright {
  color: #146464;
}

.sec2Portfolio {
  background-color: #ffcd82;
  padding: 1rem;
  margin: 2rem;
}

.sec1Portfolio {
  background-color: #146464;
  padding: 1rem;
  margin: 2rem;
}

/*# sourceMappingURL=styles.css.map */
