body{
    background: #ffbaba;
    font-size: 1rem;
    height: 0 auto;
}

.navbar-brand .logoHeader{
    text-align:center;
    border: none;
    width: 5rem;
}

header{
    background: #ffcd82;
}

.nav-item{
    text-decoration: none;
    border: solid black;
    background-color: #fff2df;
}
.nav-item a{

    font-size: 0.6rem;
    color: #ff5a46;
}

.row--color{
    background: #146464;
}
.row--color2{
    background: #ffcd82;
}

.container-lg .img-fluid{
    width: 30rem;
}

.section3 .col-12 img{
    width: 20rem;
}


                /* Animaciones */
.animacion-imagen{
    animation:imagen 2.2s ease;
}

.animacion-imagen1{
    animation:imagen1 2s ease;
}

 @keyframes imagen{
    0%{
        transform:translateX(-1000px);
    }
    10%{
        transform:translateX(-900px);
    }
    20%{
        transform:translateX(-800px);
    }
    30%{
        transform:translateX(-700px);
    }
    40%{
        transform:translateX(-600px);
    }
    50%{
        transform:translateX(-500px);
    }
    60%{
        transform:translateX(-400px);
    }
    70%{
        transform:translateX(-300px);
    }
    80%{
        transform:translateX(-200px);
    }
    90%{
        transform:translateX(-100px);
    }
    100%{
        transform:translateX(0px);
    }
}

@keyframes imagen1{
    0%{
        transform:scale(-2,-2);
    }

    50%{
        transform:scale(-1.5,-1.5);
    }

    100%{
        transform:scale(1,1);
    }
}










                        /* ACA VA TODO LO DEL HEADER */

#header {
   
    color: #146464;
    background-color: #ffcd82 ;
    margin-bottom: 1rem;
    border: solid; color: black;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 







.rojoLin{
    color: #ff5a46;
}

/* main index*/
#section1 {
    background-color: #146464;
    padding:1.5rem;
    border: solid; color: black;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.img__section1{
    width:400px ;
}

#section2{
    background-color: #ffcd82;
    margin: 1.5rem;
    padding: 1.5rem;
    border: solid; color: black
    
}
#section3{
    background-color: #146464;
    padding: 1.5rem;
    border: solid; color: black;
    margin: 1.5rem;
}
.div1Section3{
    text-align: center;
    padding: 0.5rem;
    border: none;
    margin: 1rem;
}
.textoNegro{
    color: black;
}
.contenedor__img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div3Section3{
    text-align: center;
    text-decoration: none;
}

     /*main Servicios*/
.s1servicios{
    margin: 0.5rem;
    background-color: #146464;
    border: solid black;
}     
.texto{
    text-align: center;
    padding: 0.5rem;
}
.textoBlanco{
    color: white;
  
}
.sec1Servicios{
    background-color: #ffcd82;
    justify-content: space-between;
    align-items: center;
    border: solid; color: black;
    padding: 1.5rem;
    margin: 0.8rem;
    display:flex;
    flex-direction: column;

}    
.sec1Servicios img{
 width: 80%;
}
.lista{
    list-style: none;
}

.sec2Servicios{
    background-color: #146464;
    justify-content: space-between;
    align-items: center;
    padding:1.5rem;
    border: solid; color: black;
    margin: 0.8rem;
    display:flex;
    flex-direction: column;
}
.naranjaBebeLin{
    color: #ffcd82;
}

#procesoDeTrabajo{
    padding: 1rem;
    border: dashed #ff5a46;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.iconos{
    width: 5rem;
}
.proceso{
    padding: 1rem;
    border: none;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}





     /* footer */
#footer{
    
    display: flex;
    background-color: #fff2df;
    color: #146464;
    justify-content:space-around;
    justify-items: center;
}

#footer .centroFooter{
    text-align: center;
}
.redes{
    border: none;
    display: flex;
    align-items: center;
    justify-content: end;  
   
}
.logo__redes{
    margin: 0.3rem;
}

                                   /* MEDIA QUERIES */

@media screen and (min-width: 768px) {
   /* header */
    .nav__list{
       display: flex;
   }   
   
   #header .fa{
     display:none;
  
 }
   .div1Section2{
       display: flex;
       flex-direction: column;
       align-items: center;
   }
   #procesoDeTrabajo{
       display: flex;
       flex-direction: row;
       justify-content: center;
   }

   
   
 

}    

@media screen and (min-width: 1024px) {
    .contenedor__img{
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
      justify-content: center;
    }
    .contenedor__img img{
        padding: 0.5rem;

    }
    
 }    