body{
    background:map-get($colores, color1 );
    font-size: 1rem;
    height: 0 auto;
    
    section{
        @include centrarYmargin(2rem)
    }
    
    .rosa{
        color:map-get($colores,color1);
    }
    .boton{
        background-color:map-get($colores,color6);
        a{
            text-decoration: none;
            color:map-get($colores,color5);
            &:hover{
                color:map-get($colores,color3);
            }
        }
    }
    
}

