header{
    background:map-get($colores,color2);
    color:map-get($colores,color3);
    border: solid;
    color:map-get($colores,color4);
    padding: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logoHeader{
    text-align: center;
    border: none;
    width: 7.1rem;
    }

    .nav-item {
        text-decoration: none;
        border: solid map-get($colores,color4);
        background-color:map-get($colores,color6);
        a {
            font-size: 0.6rem;
            color:map-get($colores,color5); 
            text-decoration: none;
            padding: 0.5rem;
            border: 1px solid map-get($colores,color4);
            background-color:map-get($colores,color6);
            &:hover{
                color:map-get($colores,color3);
            }  
        }

    }
    
    .logo__redes {
        margin: 0.3rem;
      }

      
}

