.section1 {
    background-color:map-get($colores,color3);
    padding: 1.5rem;
    color:map-get($colores,color4);

    .img__section1 {
        width: 50rem;
      }
}

.section2 {
    background-color:map-get($colores,color2);
    color:map-get($colores,color4);
    
    .img__section2{
        width: 50rem;
    }
  }
  
  .section3 {
    background-color:map-get($colores,color3);
    color: map-get($colores,color4);

    .div1Section3 {
        text-align: center;
        padding: 0.5rem;
        border: none;
        margin: 1rem;
    }

    .div3Section3 {
        text-align: center;
        text-decoration: none;
    }
}


  