$colores: (
    color1: #ffbaba, /* rosa */
    color2: #ffcd82, /* naranja */
    color3: #146464, /* verde */
    color4: black, /* negro */
    color5: #ff5a46, /* rojo */
    color6: #fff2df, /* crema */
);