.sec2Portfolio{
    background-color:map-get($colores,color2);
    padding: 1rem;
    margin: 2rem;
}

.sec1Portfolio{
    background-color:map-get($colores,color3);
    padding: 1rem;
    margin: 2rem;
}